[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rfars"]
	path = rfars
	url = https://github.com/s87jackson/rfars
	shallow = true
	registered = true
